@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  font-family: "Poppins", sans-serif;
  }
  
  .body{
    background-color: #f5f5f5;
    margin:20px;
  }
  
  .page-heading{
    margin-top: 20px;
  }

  #orders {
    font-family: Arial, Helvetica, sans-serif;
    /* border:1px solid rgb(138, 137, 137); */
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }

  .order-body{
    border:0.5px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding:2%;
    background-color: #ffffff;
    box-shadow: 7px 9px 14px #333;
  }
  
  #orders td, #orders th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: revert;
  }
  
  #orders tr:nth-child(even){background-color: #dad6d6;}

  #orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  .table-header{
    background-color: #333;
  }