.table {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 90px;
 
}

.table-view {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 90px;
 
}

.table-item {
  display: inline-flex;
  flex-wrap:nowrap;
  justify-content: space-between;
}

.table-item__cell {
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fbfbfb;
  border-radius: 10px;
}

.table-item__cellNa
{
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
  background-color: #c6c6c6;
  border-radius: 10px;

}

.table-itemAvil :hover {
  background-color: rgb(64, 239, 64);
  border: 1 px solid rgb(64, 239, 64);
}


/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.pricebar-toggle{

padding: 5px 70px 5px 70px;
background-color: #333;
border-radius: 6px;
color: rgb(31, 37, 51);
font-size: large;
font-weight: bold;
display: inline-flex;
gap:10px;  
}

.toggle-text
{
text-decoration: none;
font-size: 25px;
font-weight: 350;
color: white;
}
.buttonBar
{
display: block;
justify-content: center;
align-items: center;
height: 70px;
width: -webkit-fill-available;
/* width: 1150px; */
border-top: 1px solid rgb(214, 211, 211);
/* position: fixed; */
bottom: 0;
position: absolute;
background-color: #333;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

.buttonStyle
{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;

}

a:visited{
text-decoration: none;
}

.buttonBar:hover, .deletebar:hover{

cursor: pointer;
}

.highlight {
background-color: rgb(64, 239, 64);
border: 1 px solid rgb(64, 239, 64);
box-shadow: .5px .5px 5px rgb(64, 239, 64) ;
}

.naHighlight
{
background-color: rgb(143, 143, 143);
border: 1 px solid rgb(143, 143, 143);
box-shadow: .5px .5px 5px rgb(143, 143, 143);

}
