<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">SNo.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Customers</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listOfUsers |  keyvalue; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{user.key.name}}</td>
      <td>{{user.key.email}}</td>
      <td>{{user.key.phoneNum}}</td>
      <td>{{user.value}}</td>
      <td><input type="button"  value="Assign Tables" (click)="showTableContent(user.key.uids)"> </td>
    </tr>
  </tbody>
</table>

<div>
  <div class="table" *ngIf="tableContent">
      <div class="table-item" *ngFor="let item of tableItems" >
        <div class="table-item__cellNa" (click)="addNaTableIds(item.tid)" [ngClass]="{ 'naHighlight':checkForHighlightd(item.tid)}"  >
          <p class="p-0 py-2 my-2">Tid: {{ item.tid}}</p>
          <p class="p-0 py-2 my-2">capacity: {{ item.capacity }}</p>
        </div>
  </div>
  </div>
</div>
<div class="buttonBar" *ngIf="showNaToggle ">
  <div class="buttonStyle">
      <button class="btn btn-success" (click)="assignTables()">Assign</button>
  </div>
</div>
  
    