<div class="food-registration">
  <h2 *ngIf="isSelectFoodItemEmpty" type="submit">Add New Food</h2>
  <h2 *ngIf="!isSelectFoodItemEmpty" type="submit">Update Food</h2>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="foodName">Food Name:</label>
      <input id="foodName" type="text" name="foodName" [(ngModel)]="userForm.fname" required>
      <div class="error" *ngIf="errors.fname">
        {{ errors.fname }}
      </div>
    </div>
    <div class="form-group">
      <label for="foodImage">Food Image:</label>
      <input id="foodImage" type="text" name="foodImage" [(ngModel)]="userForm.fimage" required>
      <div class="error" *ngIf="errors.fimage">
        {{ errors.fimage }}
      </div>
    </div>
    <div class="form-group">
      <label for="foodDescription">Food Description:</label>
      <textarea id="foodDescription" name="foodDescription" [(ngModel)]="userForm.description" required></textarea>
      <div class="error" *ngIf="errors.description">
        {{ errors.description }}
      </div>
    </div>
    <div class="form-group">
      <label for="foodPrice">Price:</label>
      <input id="foodPrice" type="number" name="foodPrice" min="1" [(ngModel)]="userForm.price" required>
      <div class="error" *ngIf="errors.price">
        {{ errors.price }}
      </div>
    </div>
    <div class="form-group">
      <h6 *ngIf="isCategoryListEmpty" class="error" > Please add Category before adding Food! </h6>
      <label for="foodCategory">Category:</label>
      <select id="foodCategory" name="foodCategory" [(ngModel)]="userForm.categoryId" required>
        <!-- <option value="">Select Category</option> -->
          <option *ngFor="let category of categoryList" [value]="category.cid">{{category.cname}}</option>
      </select>
      <div class="error" *ngIf="errors.cid">
        {{ errors.cid }}
      </div>
    </div>

    <div *ngIf="successMsg" class="success-msg">{{successMsg}}</div>
    <button *ngIf="isSelectFoodItemEmpty" type="submit" class="btn btn-success">Add Food</button>
    <button *ngIf="!isSelectFoodItemEmpty" type="submit" class="btn btn-success">Update Food</button>
    <button *ngIf="!isSelectFoodItemEmpty" (click)="updationCancel()" class="btn btn-danger cancel-button">Cancel</button>

  </form>
</div>

