<div>
    <h1>Welcome! User>>>></h1>
    <table>
        <tr>
            <td> <label for="name">Name</label></td>
            <td> <input name="name"></td>
        </tr>
        <tr>
            <td> <label for="email">Email</label></td>
            <td> <input name="email" disabled></td>
        </tr>
        <tr>
            <td> <label for="phoneNum">Phone No</label></td>
            <td> <input name="phoneNum"></td>
        </tr>
        <tr>
            <button type="button">Update Profile</button>
        </tr>
    </table>
</div>