@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: inline;
}

.modal-content{
  width: 85%;
}
.modal-dialog{
  display: -webkit-box;
}
.modal-body{
  display: inline-flex;
  display: grid;
}
.modal-footer{
  display: flex;
  justify-content: start;
}
.error-message {
  color: red;
  font-size: x-small;
  display: block;
}

.login-container {
  padding: 20px 475px;
  width: 100%;
  position: absolute;
}

.login-container h2 {
  font-weight: 700;
  font-size: 25px;
  padding: 5px 0 0;
  margin-bottom: 34px;
  pointer-events: none;
}

.login-container .form-group label {
  font-weight: 600;
  font-size: 15px;
  color: #666;
  display: block;
  margin-top: 6px;
}

.login-container .form-group input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
  color: #333;
}

.login-container .form-group input:focus {
  border: 1px solid #31a031;
}

.login-container .form-group .error-message {
  color: red;
}

.login-container .modal-header h1 {
  font-size: 1.2rem;
}

.login-container .modal-footer button {
  margin-right: 8px;
}

.button-primary {
  background-color: #333;
  border-radius: 18px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: -1.5;
  margin: -4px;
  max-width: none;
  min-height: 39px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 56%;
  margin: -4px;
  margin-top: 12px;
  display: inherit;
  justify-content: center;
}

.button-primary:hover,
.button-primary:focus {
  opacity: 0.75;
}

@media (max-width: 860.5px) {
  .login-container {
    padding: 50px 5px;
  }
}

@media (max-width: 767.5px) {
  .login-container {
    flex-direction: column;
    margin: 30px 20px;
  }

  .login-container .form-group {
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .login-container {
    margin: 30px 15px;
  }
}