<div class="cart-container">
    <h1>Shopping Cart</h1>
    <table class="cart-table" *ngIf="orderItem.totalPrice != 0; else elseBlock">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of cartItems">
            <tr class="cart-items" *ngIf="item && item.quantity >= 1">
                <td>{{ item.fname }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <div class="quantity-container">
                        <button [ngClass]="{ 'disabled-button': item.quantity === 1}" (click)="decreaseQuantity(item)">-</button>
                        <button type="text" disabled>{{ item.quantity }}</button>
                        <button (click)="increaseQuantity(item)">+</button>
                    </div>
                </td>
                <td>{{ item.price * item.quantity }}</td>
                <td>
                    <button class="item-remove" (click)="removeItem(item)">Remove</button>
                </td>
            </tr>
        </tbody>
        <div class="cart-summary">
            <p>Total Price: {{ orderItem.totalPrice }}   </p>
            <button (click)="placeOrder()">Place Order</button>
        </div>
    </table>
    <ng-template #elseBlock>
        <h2>Cart is Empty</h2>
    </ng-template>
</div>