<div class="dashboard-container">
    <div class="sidebar">
      <ul>
        <li><i class="fas fa-history"></i> Order History</li>
        <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
        <li><a routerLink="/profile"><i class="fas fa-user"></i> Profile</a></li>
        <li (click)="content='addtable'"><i class="fas fa-user"></i>  addtable</li>
        <li (click)="content='viewtable'"><i class="fas fa-user"></i>  viewtable</li>
        <li><a href="#" ><i class="fas fa-trash"></i> Delete Account</a></li>
        <li><a  (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </div>
  
    <div class="content">
      <div class="header">
        <h2>Welcome, {{ username }}!</h2>
      </div>
      <!-- Content Area -->
      <div>
        <app-table *ngIf="content === 'viewtable'" [childInput]="parentData" (childOutput)="receiveDataFromChild($event)" ></app-table>
      </div>
      <div>
        <app-add-table *ngIf="content === 'addtable'"></app-add-table>
      </div>
    </div>
  </div>
  
