@import '~@fortawesome/fontawesome-free/css/all.css';

.dashboard-container {
  display: flex;
}

.dashboard-container .sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position:fixed;
}

.dashboard-container .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard-container .sidebar li {
  margin-bottom: 10px;
}

.dashboard-container .sidebar a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.dashboard-container .sidebar a i {
  margin-right: 10px;
}

.dashboard-container .content {
  flex: 1;
  padding: 20px;
  padding-left: 100px;
  background-color: #f5f5f5;
  overflow: scroll;
  height:93vh;
  margin-left: 200px;
}

.dashboard-container .header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dashboard-container .header h2 {
  margin: 0;
}

.dashboard-container .fa-history:before {
  content: '\f1da';
}

.dashboard-container .fa-shopping-cart:before {
  content: '\f07a';
}

.dashboard-container .fa-user:before {
  content: '\f007';
}

.dashboard-container .fa-trash:before {
  content: '\f2ed';
}

.dashboard-container .fa-sign-out-alt:before {
  content: '\f2f5';
}
