<div class="dashboard-container">
  <div class="sidebar">
    <div class="row mb-2 ">
      <div class="col-9">Logo</div>
      <div class="col-1" (click)="onBack()"><i class="fas fa-arrow-left fa-2x"></i> </div> 
    </div>
    <ul>
      <li (click)="content=''" *ngIf="typeUser === 'CUSTOMER'"><i class="fa fa-home"></i> Home</li>
      <li (click)="chnageContent('profile')"><i class="fas fa-user"></i> Profile</li>
      <li (click)="chnageContent('order')" ><i class="fas fa-history  "></i> Order History</li>
      <li (click)="chnageContent('cart')" *ngIf="typeUser === 'CUSTOMER'"><i class="fas fa-shopping-cart"></i> Cart</li>
      <li (click)="chnageContent('foodManue')"><i class="fas fa-utensils"></i> Food Manue</li>
      <li (click)="chnageContent('updateProfile')"><i class="fas fa-user-edit"></i> Update Profile</li>
      <li (click)="chnageContent('addtable')" *ngIf="typeUser === 'MANAGER'"><i class="fas fa-plus"></i> Addtable</li>
      <li (click)="chnageContent('viewtable')" *ngIf="typeUser === 'MANAGER'" ><i class="fas fa-eye"></i> View Table</li>
      <li (click)="chnageContent('addcatrgory')" *ngIf="typeUser === 'MANAGER'" ><i class="fas fa-plus"></i> Add Category</li>
      <li (click)="chnageContent('addFood')" *ngIf="typeUser === 'MANAGER'"><i class="fas fa-plus"></i> Add Food</li>
      <!-- added for view -->
      <li (click)="chnageContent('tableHandle')" *ngIf="typeUser === 'MANAGER'"><i class="fas fa-hourglass-half"></i> Wating Queue</li>
      <li (click)="chnageContent('addManager')" *ngIf="typeUser === 'MANAGER'"><i class="fas fa-user-edit"></i> Add Manager</li>
      <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>

  <div class="content">
    <!-- Content Area -->
    <button mat-fab class="floating-icon" *ngIf="toShowWaitingQueuLogo " (click)="onClickOfFloatingIcon()">
      <mat-icon>Queue Status</mat-icon>
    </button>
    <div *ngIf="content === '' && typeUser === 'CUSTOMER' " >
      <!-- <label name="noOfCustomer">Enter the no. of Customer</label>
        <input  type="text" name="noOfCustomer" [(ngModel)]="noOfCustomer">
        <button (click)="content='viewtable'">submit</button> -->
      <div class="container wel-con">
        <h1>Welcome ,{{username}}</h1>
        <p class="wel-text">Please enter the number of people to proceed</p>
        <div class="form-group d-flex">
          <input type="text" id="number-of-people" [(ngModel)]="noOfCustomer" class="mx-2">
          <button (click)="content ='viewtable'" *ngIf="activeTable.length === 0 " class="btn btn-secondary mx-2 px-4">submit</button>
        </div>
        <div class="quote">
          <p>"Good food is the foundation of genuine happiness."</p>
          <p>"There is no sincerer love than the love of food." </p>
        </div>
        <div class="experience">
          <p>We take pride in our years of experience in providing exceptional service</p>
          <p>Over 20 years of dedicated service to our valued customers!</p>
        </div>
      </div>
      </div>
      <div *ngIf="toShowWaitingQueuLogo ">
        <div class="container wel-con">
          <h1 class="px-5">Hello, Thank you for waiting  </h1>
          <p class="wel-text">Table will be allocated to you shortly by manager:</p>
          <div class="form-group">
          <div class="quote">
            <p>"Patience is bitter, but its fruit is sweet"</p>
            <p>"you can check waiting status by clicking below Queue status icon " </p>
          </div>
        </div>
      </div >
      </div>

      <div>
        <app-table *ngIf="content === 'viewtable'" [typeUser]="typeUser" [noOfCustomer]="noOfCustomer" (content)="receiveContent($event)" (activeTable)="receiveActiveTable($event)" [userid]="userid" (toShowWaitingQueuLogo)="toShowWaitingQueuLogoSet($event)"  ></app-table>
      </div>
      <div>
        <app-add-table *ngIf="content === 'addtable'"></app-add-table>
      </div>
      <div>
        <app-customerprofile *ngIf="content === 'profile'"></app-customerprofile>
      </div>
      <div>
        <app-cart *ngIf="content === 'cart'" [activeTable]="activeTable" [userid]="userid"  [cartItems]="cartItems" (outputCartItems)="setCartItems($event)"></app-cart>
      </div>
      <div>
        <app-customerupdateprofile *ngIf="content === 'updateProfile'" ></app-customerupdateprofile>
      </div>
      <div>
        <app-daywiseorder *ngIf="content === 'order'"></app-daywiseorder>
      </div>
      <div>
        <app-food-menu *ngIf="content === 'foodManue'" [activeTable]="activeTable" [typeUser]="typeUser" (cartItems)="initializeCartItems($event)" (content)="receiveContent($event)" (selectFoodItem)="initializeFoodItem($event)" [outputCartItems]="outputCartItems"></app-food-menu>
      </div>

      <div>
        <app-manager-food-crud *ngIf="content === 'addFood'" [selectFoodItem]="selectFoodItem" (content)="resetFoodItem($event)"></app-manager-food-crud>
      </div>

    <!-- added for view -->
    <div>
      <app-manager-table-handling *ngIf="content === 'tableHandle'" [typeUser]="typeUser" (content)="receiveContent($event)"></app-manager-table-handling>
    </div>
    <div>
      <app-register *ngIf="content === 'addManager' " (content)="receiveContent($event)"  [typeUser]="typeUser"></app-register>
    </div>
    <div>
      <app-manager-category-crud *ngIf="content === 'addcatrgory'"> </app-manager-category-crud>
    </div>
  </div>
</div>