<div class="profile-container">
    <table class="profile-table">
        <tr class="welcome">
            <h1 >Welcome! {{ userProfile.name }}</h1>
        </tr>
        <tr>
            <td class="profile-td"> <label for="name">Name</label></td>
            <td class="profile-td"> <input class="profile-input" name="name" [(ngModel)]="userProfile.name" ></td>
        </tr>
        <tr>
            <td class="profile-td"> <label for="email">Email</label></td>
            <td class="profile-td"> <input class="profile-input" name="email" [(ngModel)]="userProfile.email" disabled></td>
        </tr>
        <tr>
            <td class="profile-td"> <label for="phoneNum">Phone No</label></td>
            <td class="profile-td"> <input class="profile-input" name="phoneNum" [(ngModel)]="userProfile.phoneNum"></td>
        </tr>
        <tr>
            <button class="update-button" type="button" (click)="handleUpdate()">Update Profile</button>
        </tr>
        <!-- Just to detect error can be removed later -->
        <div *ngIf="fetchError" >
            {{fetchError}}
        </div>
    </table>
</div>