 @import '~@fortawesome/fontawesome-free/css/all.css';
 @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400&family=Montserrat:wght@300;400&display=swap');
 *{
   font-family: "Montserrat";
 }
.category-container {
  width: 100%;
  background-color: rgb(245 244 244);
}

.page-heading{
  background-color: #333;
  color:#e2e2e2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  padding:5px;
}

.category-container .category {
  margin-bottom: 10px;
}

.category-container .category-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: lightgray;
  padding: 10px;
  font-weight:900;
  border-bottom:0.3px solid rgb(108 108 108);
}

.category-container .category-header h2 {
  margin: 0;
  flex-grow: 1;
}

.category-container .category-header span {
  font-size: 20px;
  transition: transform 0.3s;
}

.category-container .category-header span.expanded {
  transform: rotate(45deg);
}

.category-container .category-foodBlock {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.category-container .category-foodNone {
  display: none;
}

.title{
  font-weight: 800;
}

.text-price{
  color:green;
  font-weight: 900;
}

.card {
    padding: 20px;
  }

.unavailable-card {
  background-color: #e2e2e2;
  opacity: 0.8;
}

.card .card-body{
  padding-top: 8px;
  padding-bottom: 0px;
}

.card .card-body .card-text{
  margin: 8px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.edit-button,
.toggle-button {
  margin-left: 5px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.cards-container{
  /* border: 1px solid black; */
  padding:5px;
  width:300px;
  margin: 30px;
}

.custom-card{
  border:0.5px solid rgb(197, 197, 197);
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
  box-shadow:9px 7px 12px #333  ;
  width:300px;
  padding: 15px;
  padding-right: 25px;
}

.custom-card:hover{
  scale: 1.04;
}


.image{
  border:1px solid rgb(197, 197, 197);
  border-radius: 10px;
}




