@import '~@fortawesome/fontawesome-free/css/all.css';

.category-container {
  width: 100%;
}

.category-container .category {
  margin-bottom: 10px;
}

.category-container .category-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: lightgray;
  padding: 10px;
}

.category-container .category-header h2 {
  margin: 0;
  flex-grow: 1;
}

.category-container .category-header span {
  font-size: 20px;
  transition: transform 0.3s;
}

.category-container .category-header span.expanded {
  transform: rotate(45deg);
}

.category-container .category-foodBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.category-container .category-foodNone {
  display: none;
}

.card {
    padding: 20px;
  }

.unavailable-card {
  background-color: #e2e2e2;
  opacity: 0.8;
}

.card .card-body{
  padding-top: 8px;
  padding-bottom: 0px;
}

.card .card-body .card-text{
  margin: 8px;
}

/* new changes */
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.edit-button,
.toggle-button {
  margin-left: 5px;
}