@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400&family=Montserrat:wght@300;400&display=swap');
*{
  font-family: "Montserrat";
}

.add-table-form {
    width: 417px;
    height: 236px;
    margin: 120px 350px;
    padding: 16px;
    background-color: #e7e7e7;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    box-shadow: 7px 6px 18px #959595;
  }
  
  .add-table-form h2 {
    text-align: center;
    font-weight: 900;
  }
  
  .add-table-form form {
    display: flex;
    flex-direction: column;
  }
  
  .add-table-form .form-group {
    margin-bottom: 10px;
  }
  
  .add-table-form label {
    font-weight: 800;
  }
  

  .form-input {
    width: 175px !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
  }

  .form-select {
    width: 175px !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
  }
  
  .add-table-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-table-form button:hover {
    background-color: #45a049;
  }
  
  .success-msg
  {
    color: green;
    margin-left:70px;
    font-size: 16px;
    font-weight: 600;
  }