<div class="wrapper">
  <div class="form-right">
  <form class="row" (ngSubmit)="onSubmit()">
    <h2>Add Table</h2>
    <div class="col-sm-6 mb-3 form-group">
      <label for="quantity">Quantity: </label>
      <input class="input-field" type="text" id="quantity" name="quantity" [(ngModel)]="addTable.quantity" required>
    </div>
     <div class="col-sm-6 mb-3 form-group">
      <label for="capacity">Capacity: </label>
      <select id="capacity"class="input-field" [(ngModel)]="addTable.capacity" name="capacity" required>
        <option>2</option>
        <option>4</option>
        <option>8</option>
      </select>
    </div>
    <div  class="col-sm-6 mb-3 form-group">
      <span class="error-message" style='color:green' *ngIf="msg">{{msg}}</span></div>
    <button class="button-cs" type="submit">Add</button>
  </form>
</div>
</div>
