<div class="register-user">
  <h2>Register User</h2>
  <form >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="userForm.name"
        name="name"
        required
      />
      <div class="error-message" *ngIf="errors.name">{{ errors.name }}</div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="userForm.email"
        name="email"
        required
      />
      <div class="error-message" *ngIf="errors.email">{{ errors.email }}</div>
    </div>

    <div class="form-group">
      <label for="phoneNum">Phone Number</label>
      <input
        type="text"
        id="phoneNum"
        [(ngModel)]="userForm.phoneNum"
        name="phoneNum"
        required
      />
      <div class="error-message" *ngIf="errors.phoneNum">
        {{ errors.phoneNum }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="userForm.password"
        name="password"
        required
      />
      <div class="error-message" *ngIf="errors.password">
        {{ errors.password }}
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">ConfirmPassword</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
      <div class="error-message" *ngIf="errors.confirmPassword">
        {{ errors.confirmPassword }}
      </div>
    </div>
    <div class="form-group" *ngIf="confirmOtp">
        <label for="confirmOtp">ConfirmOtp</label>
        <input
          type="text"
          id="confirmOtp"
          [(ngModel)]="userForm.otp"
          name="confirmOtp"
          required
        />
    </div>
    <button (click)="sendOtp()" >Send-Otp</button>
    <div class="form-group" *ngIf="errorOtp">{{errorOtp}}</div>
    <button type="submit" (click)="onSubmit()" >Register</button>
  </form>
</div>
